<br>
<section id="main" style="margin-bottom: 20px;">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
        <h1 class="my-4">Specifications</h1>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <h5>Title:</h5>
            <h6 class="">{{movie.title}}</h6>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <h5>Director:</h5>
              <h6 class="">{{movie.director}}</h6>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <h5>Genre:</h5>
                <h6 class="">{{movie.genre}}</h6>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  <h5>Realease:</h5>
                  <h6 class="">{{movie.releaseDate | date:'fullDate'}}</h6>
                </li>         
         </ul>
      </div>
  
      <div class="col-lg-8">
        <div style="margin-bottom:-40px;">
          <a type="button" class="btn btn-primary btn-sm" routerLink="/home">Back</a>
          <button type="button" class="btn btn-primary btn-sm float-right" (click)="onEditMovie(movie)">Edit</button>
        </div><br>
        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://localhost:8000/image/movie/{{movie.id}}.png" alt="movie poster">
          <div class="card-body">
            <h3 class="card-title">{{movie.title}}</h3>
            <h3>Plot</h3>
            <p class="card-text">{{movie.plot}}</p>
          </div>
        </div>
      </div>
      <!-- /.col-lg-9 -->
    </div>
  
  </div>
  <!-- /.container -->
  </section>