<div class="container">
    <!-- <span [hidden]="!isLoggedin">  -->
      <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-4">
            <h2 class="">Update Movie</h2>
          <form (ngSubmit)="onSaveMovie()" enctype="multipart/form-data">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <label>Title</label>
                  <input name="title" type="text" required [(ngModel)]="movie.title" placeholder="Title..." class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                  <label>Director</label>
                  <input name="director" type="text" [(ngModel)]="movie.director" name="director" placeholder="Director..." class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                  <label>Genre</label>
                  <input name="genre" type="text" [(ngModel)]="movie.genre" placeholder="Genre..." class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                  <label>Release Date</label>
                  <input name="releaseDate" type="date" [(ngModel)]="movie.releaseDate" name="realeaseDate" placeholder="realease date.." class="form-control">
                </div>
              </div>            
           <div class="form-group">
                  <label>Movie Poster</label>
                  <input type="file" (change)="uploadImageService.fileChangeEvent($event)" placeholder="Movie poster..." required
                    class="form-control">
                </div>
              <div class="form-group">
                <label>Plot</label>
                <textarea name="description" placeholder="Plot..." rows="3" [(ngModel)]="movie.plot" class="form-control"></textarea>
              </div>
              <button type="submit" class="btn btn-sm btn-info">Save</button>
              <a routerLink="/home" class="btn btn-sm btn-danger pull-right">Cancel</a>
          </form>
        </div>
      </div>
    <!-- </span> -->
    
    <!-- <div class="" [hidden]="isLoggedin">
      <h3>You're not logged in. Please log in first!!</h3>
    </div>
  </div> -->