<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <button class="p-2 btn btn-primary" routerLink="/movie/add">+ New Movie</button>
      <button class="p-2 btn btn-primary" (click)="onLogout()">Logout</button>
    </nav>
 </div>

 <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="col-md-12 px-0">
     <form>
        <div class="form-group">
           <label for="exampleInputEmail1">Movie Search</label>
           <input class="form-control form-control-lg" type="text" placeholder="Movie title...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
     </form>
  </div>
</div>

<div class="row mb-2">
  <div class="col-12 ">

   <div class="list-group">
      <a (click)="onSelect(movie)" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">X-MEN Origins</h5>
            <small>Released on : December 30, 2010</small>
            <button class="btn btn-danger">Delete</button>
         </div>
         <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
         <small>Donec id elit non mi porta.</small>
      </a> <br>
      <a (click)="onSelect(movie)" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1">X-MEN Origins</h5>
           <small>Released on : December 30, 2010</small>
           <button class="btn btn-danger">Delete</button>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
     </a> <br>
     <a (click)="onSelect(movie)" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
         <h5 class="mb-1">X-MEN Origins</h5>
         <small>Released on : December 30, 2010</small>
         <button class="btn btn-danger">Delete</button>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small>Donec id elit non mi porta.</small>
   </a> <br>
   <a (click)="onSelect(movie)" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
       <h5 class="mb-1">X-MEN Origins</h5>
       <small>Released on : December 30, 2010</small>
       <button class="btn btn-danger">Delete</button>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
 </a> <br>
 <a (click)="onSelect(movie)" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
     <h5 class="mb-1">X-MEN Origins</h5>
     <small>Released on : December 30, 2010</small>
     <button class="btn btn-danger">Delete</button>
  </div>
  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  <small>Donec id elit non mi porta.</small>
</a> <br>
<a (click)="onSelect(movie)" style="cursor: pointer;" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
     <h5 class="mb-1">X-MEN Origins</h5>
     <small>Released on : December 30, 2010</small>
     <button class="btn btn-danger">Delete</button>
  </div>
  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  <small>Donec id elit non mi porta.</small>
</a> <br>
   </div>
</div>
</div>

</div>

